*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#telaPrincipal h1{
    text-align: center;
}
.container-box{
    width: 100%;
    border: solid 2px black;

}
.container-box > h2{
    text-align: center;
}

.box-container{
    display: flex;
    gap: 10px;
}
.flex{
    text-align: start;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-style{
    text-align: start;
}
.col{
    margin: 5px;
    padding: 10px;
    border: solid 2px green;
    border-radius: 10px;
}